.homeView{
  background: url(https://static1.squarespace.com/static/538cb6abe4b0c3b633f80c8d/t/56d4915a8a65e21d5e6bc1a5/1456771429909/civic-eagle-13.jpg) no-repeat center fixed;
  background-size: auto auto;
  width: 100%;
  height: 100%;
}
