.loginView{
  background: url(https://static1.squarespace.com/static/538cb6abe4b0c3b633f80c8d/t/56bf8238b6aa60f2bc25dc76/1470439778298/?format=1500w) no-repeat center;
  background-size: 80% 80%;
  background-position: bottom;
  height: 100%;
  min-height: 100vh;
  min-width: 70vw;
  /*padding-top: 10px;*/
}
.login-title{
  color: orange;
}
.login {
   padding: 15px;
   max-width: 330px;
   margin: 0 auto;
   margin-top: 2%
}
.authError{
  text-align: center;
}

.form-signin {
   padding: 15px;
   margin: 0 auto;
   margin-left: 0;
   margin-right 0;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
   margin-bottom: 10px;
}

.form-signin .form-control
{
   position: relative;
   font-size: 16px;
   height: auto;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.form-signin .form-control:focus
{
   z-index: 2;
}
.form-signin input[type="text"]
{
   margin-bottom: -1px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}
:focus {
  outline: none;
}

.authError {
  color: red;
}
