.sources {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.newsSourceView{
  background: url(https://static1.squarespace.com/static/538cb6abe4b0c3b633f80c8d/t/56d4915a8a65e21d5e6bc1a5/1456771429909/civic-eagle-13.jpg);
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-position: center; ;
}
