.side-menu {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #f8f8f8
  border-right: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li:hover {
  background-color: #f68c24;
}

.panel.isTabSelected() {
  background-color: #f68c24;
}

.navbar-collapse{
  padding-left: 0;
  padding-right: 0;*/
}

.side-menu .brand-name-wrapper img{
  height: 100px;
  width: 200px;

}


.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
   display: block;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: inline-block;
}
