/*---------------GlobalStyles---------------*/

.ui-select-match-item {
  background-color: #F0F8FF !important;
}

.ui-select-match-text > span {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

label {
  margin-top: 10px;
}
.col-center{
 float: none;
 margin-right: 130px;
 margin-left: 190px;
 margin-top: 50px;

}

.button {
  background-color: #f68c24;
  color: black;
}

.add {
  position: fixed;
  float: right !important;
  right: 0px;

}
.container-fluid{
  padding-right: 0;
  padding-left: 0;

}


.outline-container{
  padding: 16px 10px;
  width: 60%;
  margin-top: 15px;
  margin-bottom: 25px !important;
  text-align: center;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  background-color: rgba(246, 140, 36, 0.9);


/*---------------textAngular---------------*/
.editorContainer {
  margin-right: auto;
  margin-left: auto;
}

/*--------------xeditable-----------------*/



.btn btn-success {
  margin: 5px;
}
