/*---------------GlobalStyles---------------*/

.pagination {
    display: inline;

}

.ui-select-match-item {
  background-color: #F0F8FF !important;
}

.ui-select-match-text > span {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

label {
  margin-top: 10px;
}
.col-center{
 float: none;
 margin-right: 130px;
 margin-left: 190px;
 margin-top: 50px;

}

.button {
  background-color: #f68c24;
  color: black;
}

.add {
  position: fixed;
  float: right !important;
  right: 0px;

}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}


.outline-container{
  padding: 5px 3px;
  width: 60% ;
  margin-top: 15px;
  margin-bottom: 25px !important;
  text-align: center !important;
  margin: 0 auto;
  display: block;
  overflow: hidden;

  background-color: rgba(246, 140, 36, 0.8);
  border-radius: 50px 50px 50px 50px;

}

.outline-container:hover{
  background-color: rgba(246, 140, 36, 1);

}


/*---------------textAngular---------------*/
.editorContainer {
  margin-right: auto;
  margin-left: auto;
}

/*--------------xeditable-----------------*/

.editable-wrap  {
  width: 100%;
  border: 5px solid purple;
  display: inline-block;
}

.editable-has-buttons {
  border: 5px solid blue;
  width: 75%;
}
.editable-buttons {
  border: 5px solid blue
  width: 25%;
}

.btn btn-success {
  margin: 5px;
}
