/*---------------GlobalStyles---------------*/

.glyphicon{
  float:right;
}

.ui-select-match-item {
  background-color: #F0F8FF !important;
}

.ui-select-match-text > span {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

label {
  margin-top: 10px;
}
.col-center{


     /* center the element */
     right: 0;
     left: 0;
     margin-right: auto;
     margin-left: 25%;
     /* give it dimensions */
     /*min-height: 10em;*/
     width: 60%;


}

.button {
  background-color: #f68c24;
  color: black;
}

.add {
  position: fixed;
  float: right !important;
  right: 0px;

}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}


.outline-container {
  padding: 5px 10px 3px 10px;
  width: 100%;
  height: 50px;
  color: white;
  text-align: left;
  margin: 1px;
  margin-top: 5px;
  text-shadow: 1px 1px black;
  display: block;
  overflow: hidden;
  background: black;
  opacity: 0.7;
  filter: alpha(opacity);

}

.outline-container:hover{

}

.addNewContainer > h2 {
  background-color: #f68c24;
  color: white;
  padding: 5px 10px 3px 10px;
}

.addNewContainer > h2:hover {
color: gray;
cursor: pointer;
}

/*---------------textAngular---------------*/
.editorContainer {
  margin-right: auto;
  margin-left: auto;
}

.searchContainer {
  width: 100%;
  margin: 0px 0px 20px 0px;
  display: block;
  font-size: 30px;
}

.searchContainer input {
  border: 2px solid orange;
}
