<div ng-include = "'views/templates/sideNav.html'"></div>
<div ng-include = "'views/templates/candidateModal.html'"></div>
<div class = "container">
  <div class="row">
    <div class = "col-md-9">
      <div class = "candidate-container">
        <div ng-repeat = "candidate in candidateResults">
          <h2>candidate.firstName</h2>
          <h2>candidate.lastName</h2>
        </div>
      </div>
      <button type="button" class="btn btn-info btn-lg" style="float: right;" data-toggle="modal" data-target="#candidateModal">Add Candidate</button>
    </div>
  </div>
</div>
