<div ng-include="'views/templates/debateTopicsModal.html'"></div>
<div ng-include="'views/templates/debateTopicsModalUpdate.html'"></div>

<button type="button" class="btn button btn-lg add" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span></button>

<div class = "container-fluid debateView">
  <div class="row">
    <div class = "col-md-9 col-center topics-container">
      <div class = "outline-container">
        <h2 class="topics" data-toggle="modal" ng-click="clearTopicForm()" data-target="#debateTopicsModal">Add Debate Topic</h2>
      </div>
      <div ng-repeat="topic in topics track by $index" class = "outline-container" style="background-image: url({{topic.image}})">
        <h2 class="topics" data-toggle="modal" data-target="#debateTopicsModalUpdate" ng-click="showTopic($index)">{{topic.title}}</h2>
      </div>
    </div>
  </div>
</div>
