<div id="issueModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Issue</h4>
        <div class="pagination">Page {{pageNumber}}/{{topicsTotal}}</div>
      </div>
      <div class="modal-body">
        <form class="form-signin" ng-submit="">
          <div ng-show="showFirst">
            <label for="#title">Title</label>
            <input type="text" id="title" ng-model="issue.title" class="form-control" placeholder="Title" required autofocus>
            <label for="#slug">Slug</label>
            <input type="text" id="slug" ng-model="issue.slug" class="form-control" placeholder="Slug" required autofocus>
            <label for="#image">Issue URL</label>
            <input type="text" id="image" ng-model="issue.image" class="form-control" placeholder="Issue URL" required autofocus>
          </div>
          <div ng-show="showSecond">
            <label for="#stateCriteria">State Criteria</label>
            <input type="text" id="stateCriteria" ng-model="issue.stateCriteria" class="form-control" placeholder="State Criteria" required autofocus>
            <label for="#federalCriteria">Federal Criteria</label>
            <input type="text" id="federalCriteria" ng-model="issue.federalCriteria" class="form-control" placeholder="Federal Criteria" required autofocus>
          </div>
            <div ng-show="showThird">
                <label for="#summary">Summary</label>
                <div class="editorContainer">
                  <div text-angular="text-angular" name="issuesContent" ng-model="issuesContent" ta-disabled="disabled"></div>
                </div>
           </div>
        </form>
        <div class="modal-footer">
          <button ng-click="prevTopicView()" type="button" ng-hide="showPrev" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
          <button type="button" ng-click="addTopic(topic)" class="btn btn-primary">Submit</button>
          <button type="button" ng-click="resetTopicModal()" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button ng-click="nextTopicView()" type="button" ng-hide="showNext" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
