<div class="container">
  <div class="row">
    <h1 class="text-center login-title">Sign in</h1>
    <form class="login" ng-submit="submitAdmin(admin)">
      <input type="text" ng-model="admin.username" name="email" class="form-control" placeholder="Username" required autofocus>
      <input type="password" ng-model="admin.password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg button btn-block">Sign in</button>
    </form>
  </div>
</div>
