<div ng-include = "'views/templates/sourcesModal.html'"></div>
<div ng-include = "'views/templates/sourcesUpdateModal.html'"></div>

<button type="button" class="btn button btn-lg add" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span></button>
  <div class = "container-fluid newsSouceView">
    <div class="row">
      <div class = "col-md-9 col-center sources-container">
        <div class="searchContainer">
          <label for="sourceSearchBar">Search Debate Topics: </label>
          <input id="sourceSearchBar" ng-model="searchSource">
        </div>
          <div class="outline-container">
            <h2 class="sources" ng-click="clearForm()" data-toggle="modal" data-target="#sourcesModal">Add News Source</h2>
          </div>
          <div class="outline-container" ng-repeat="source in sources | filter:searchSource track by $index">
            <h2 class="sources" ng-click="showSource(source)" data-toggle="modal" data-target="#sourcesUpdateModal">{{source.title}}</h2>
          </div>
        </div>
      </div>
    </div>
