<div ng-include = "'views/templates/sideNav.html'"></div>
<div ng-include = "'views/templates/sourcesModal.html'"></div>

<button type="button" class="btn button btn-lg" style="float: right;" data-toggle="modal" data-target="#sourcesModal">Add Source</button>
  <div class = "container">
    <div class="row">
      <div class = "col-md-12">
        <div class = "source-container">
          <div ng-repeat = "source in sources">
            <h2 class="sources">{{source.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
