<div class="row">
   <div class="side-menu">
      <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
            <div class="brand-wrapper">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidenav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <div class="brand-name-wrapper">
                  <a href = "http://www.civiceagle.com/#eagle">
                     <img src="//static1.squarespace.com/static/538cb6abe4b0c3b633f80c8d/t/56bf8238b6aa60f2bc25dc76/1470439778298/?format=1500w" alt="Civic Eagle">
                  </a>
               </div>
            </div>
         </div>
         <div class="collapse navbar-collapse" id="sidenav-collapse">
            <ul class="nav navbar-nav">
               <li><a class="highlighted" href = "#debateTopics">Debate Topics</a></li>
               <li><a href = "#candidates">Candidates</a></li>
               <li><a href = "#newsSources">News Sources</a></li>
               <li><a href = "#issues">Issues</a></li>
            </ul>
         </div>
      </nav>
   </div>
</div>
