<div class="row">
   <div class="side-menu">
   <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
       <div class="brand-wrapper">
           <button type="button" class="navbar-toggle">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <div class="brand-name-wrapper">
           </div>
       </div>
   </div>
   <div class="side-menu-container">
       <ul class="nav navbar-nav">
           <li>
             <a href = "/views/templates/debateTopics.html">Debate Topics</a>
           </li>
           <li>
             <a href = "/views/templates/candidates.html">Candidates</a>
          </li>
          <li>
             <a href = "/views/templates/newsTopics.html">News Topics</a>
          </li>
          <li>
             <a href = "/views/templates/issues.html">Issues</a>
          </li>
       </ul>
   </div>
</nav>
   </div>
