<div class="row" ng-controller="PanelController as panel">
   <div class="side-menu">
      <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
            <div class="brand-wrapper">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidenav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <div class="brand-name-wrapper">
                  <a href = "http://www.civiceagle.com/#eagle">
                     <div class = "eagleWeb"></div>
                     <!-- <img src="//static1.squarespace.com/static/538cb6abe4b0c3b633f80c8d/t/56bf8238b6aa60f2bc25dc76/1470439778298/?format=1500w" alt="Civic Eagle"> -->
                  </a>
               </div>
               <hr>
            </div>
         </div>
         <div class="collapse navbar-collapse" id="sidenav-collapse">
           <!-- <section ng-controller="PanelController as panel"> -->

            <ul class="nav navbar-nav">
               <li ng-class="{active: panel.isTabSelected('debateTopics')}"><a href="" ng-click="panel.setTab('debateTopics')">Debate Topics</a></li>
               <li ng-class="{active: panel.isTabSelected('candidates')}" ng-click="panel.setTab('candidates')"><a href="#/candidates" >Candidates</a></li>
               <li ng-class="{active: panel.isTabSelected('newsSources')}" ng-click="panel.setTab('newsSources')"><a href="">News Sources</a></li>
               <li ng-class="{active: panel.isTabSelected('issues')}"><a href="" ng-click="panel.setTab('issues')">Issues</a></li>
            </ul>
          <!-- </section> -->
         </div>
      </nav>
   </div>
</div>
